# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
pb_data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
/backend/bin/
/backend/data/
/test-results/
/playwright-report/
/playwright/.cache/
# Webkit with playwright creates a salt file
salt
backend/pb_data/auxiliary.db
backend/pb_data/data.db
